/*variables*/

:root {
  --basic-red: #EE3643;
  --basic-green: #63A63E;
  --basic-grey: #3D546F;
  --basic-greylight: #C5C5C5;
  --basic-background: #F1F5F7;
  --basic-white: #FFFFFF;
  --basic-black: #000000;
  --special-ylellow: #FFBF47;
  --special-blue: #3BBCE3;
  --special-lilac: #DC91D8;
  --special-greenlight: #8ED78F;
  --special-yellowlight: #FFD180;
  --special-darkgray: #293449;
  --special-mediumgray: #32425C;
  --success: #5FBB2D;
  --warning: #FFBF47;
  --error: #BA2732;
  --graylight: #EAEAEA;
  --graylight2: #F3F7F9;
  --icon-background: #212A3A;
  --product-background: #F2F6F8;
  --old-price-color: #A9A9A9;
  --special-black: #161D29;
  --buy-active: #518534;
  --yellowlight: #FFC047;
  --popular-background: #F9F5F0;
  --filter-background: #F7F3EC;
}

/*Global*/

body {
  min-width: 960px;
  margin: 0;
  padding: 0;
  font-family: "Cuprum PT Sans", Arial, sans-serif;
  font-size: 14px;
  line-height: 24px;
  color: var(--basic-black);
  background-color: var(--basic-white);
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

/*Main navigation*/

.main-navigation {
  font-family: "Cuprum", Arial, sans-serif;
  font-size: 18px;
  line-height: 24px;
  color: var(--basic-black);
  background-color: var(--basic-background);
}

.navigation-top {
  background-color: var(--special-darkgray);
}

.header-logo,
.footer-logo {
  background-color: var(--basic-red);
  box-shadow: inset 0px -5px 0px rgba(0, 0, 0, 0.24);
}

.header-logo:active,
.footer-logo:active {
  background-color: var(--error);
}

.main-navigation label {
  color: var(--basic-white);
}

.navigation-top a {
  color: var(--basic-white);
}

.navigation-top .bookmarks:active,
.navigation-top .basket:active {
  color: var(--basic-white);
  opacity: 0.5;
  background-color: var(--special-black);
}

.navigation-top .order:hover {
  background-color: var(--success);
}

.navigation-top .order:active {
  color: var(--basic-greylight);
}

.main-registration .sign-up:hover,
.main-registration .register:hover,
.main-nav-list a:hover {
  color: var(--basic-red);
}

.main-registration .sign-up:active,
.main-registration .register:active,
.main-registration .user:active,
.main-nav-list a:active {
  color: var(--basic-greylight);
}

.site-navigation-item:hover {
  background-color: var(--special-darkgray);
}
.site-navigation-item:active {
  background-color: var(--special-darkgray);
  color: var(--basic-white);
  opacity: 0.5;
}

.navigation-top .order {
  background-color: var(--basic-green);
}

.navigation-middle h1,
.navigation-middle a.phone {
  color: var(--basic-red);
}

.navigation-middle h1 {
  font-style: italic;
  font-weight: normal;
  font-size: 16px;
  line-height: 23px;
}

.navigation-middle a.phone {
  font-weight: bold;
  font-size: 21px;
  line-height: 30px;
  border: 3px solid var(--basic-white);
}

.navigation-middle .address {
  font-size: 14px;
  line-height: 24px;
  color: var(--special-mediumgray);
}

.main-registration .sign-up,
.main-registration .register,
.main-registration .user {
  font-size: 21px;
  line-height: 21px;
  color: var(--basic-black);
  background-color: var(--basic-white);
}

.main-nav-list {
  font-size: 16px;
  line-height: 18px;
  list-style: none;
}

.main-nav-list a {
  color: var(--special-mediumgray);
  text-align: center;
}

.site-navigation-list {
  background: var(--special-mediumgray);
  box-shadow: inset 0px -5px 0px #293449;
  list-style: none;
}

.site-navigation-list a {
  color: var(--basic-white);
}

/*main-content*/

.main-content {
  color: inherit;
  background-color: var(--basic-white);
}

.main-content-catalog {
  font-family: "Cuprum", Arial, sans-serif;
  color: var(--basic-white);
}

.main-content-list a,
.main-content-discounts-item a {
  font-size: 14px;
  line-height: 18px;
  color: var(--basic-white);
  text-transform: uppercase;
  background-color: rgba(255, 255, 255, .3);
}

.main-content-list li:first-child {
  background-color: var(--special-ylellow);
} 

.main-content-list li:first-child a:hover {
  background-color: rgba(197, 197, 197, 0.3);
}

.main-content-list li:first-child a:active {
  background-color: rgba(169, 169, 169, 0.3);
}

.main-content-list li:nth-child(2) {
  background-color: var(--special-blue);
}

.main-content-list li:last-child {
  background-color: var(--special-lilac);
}

.main-content-discounts-list li:first-child {
  background-color: var(--special-greenlight);
}

.main-content-discounts-list li:last-child {
  background-color: var(--yellowlight);
}

.main-content-slider {
  background-color: var(--basic-black);
}

.main-content-slider h2 {
  font-size: 36px;
  line-height: 36px;
  text-transform: uppercase;
}

.main-content-slider p {
  font-size: 18px;
  line-height: 24px;
}

.main-content-slider a {
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;
  color: var(--basic-white);
  background-color: var(--basic-red);
}

.main-content-slider a:active {
  background-color: var(--error);
}

.main-content-catalog h3 {
  font-size: 24px;
  line-height: 30px;
}

.popular-products {
  background-color: var(--popular-background);
}

.popular-products h2,
.popular-manufacturers h2 {
  font-size: 30px;
  line-height: 30px;
  text-transform: uppercase;
  color: var(--special-mediumgray);
}

.popular-products a,
.popular-manufacturers a,
.main-services a {
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;
  color: var(--basic-white);
  background-color: var(--basic-red);
}

.main-services {
  background-color: var(--basic-background);
}

.popular-manufacturer-item {
  list-style: none;
}

.popular-manufacturer-list:hover {
  box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.15);
}

.popular-manufacturer-list:active {
  opacity: 0.5;
  box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.15);
}

.main-services h2 {
  font-family: "Cuprum", Arial, sans-serif;
  font-weight: normal;
  font-size: 30px;
  line-height: 30px;
  text-transform: uppercase;
  color: var(--basic-black);
}

.main-services p {
  font-family: "PT Sans", Arial, sans-serif;
  font-size: 13px;
  line-height: 24px;
  color: var(--basic-black);
}

.slider-button {
  font-family: "Cuprum", Arial, sans-serif;
  font-weight: bold;
  font-size: 21px;
  line-height: 30px;
  color: var(--basic-white);
  background-color: var(--special-mediumgray);
  box-shadow: 0px 1px 0px #293449, inset 0px 1px 0px #405069;
}

.slider-button:hover {
  background-color: var(--special-darkgray);
}

.pressed {
  color: var(--special-mediumgray);
  background-color: var(--basic-white);
  box-shadow: 0px 1px 0px #FFFFFF;
}

.about-company h2 {
  font-family: "Cuprum", Arial, sans-serif;
  font-weight: normal;
  font-size: 30px;
  line-height: 30px;
  text-transform: uppercase;
}

.about-company p {
  font-family: "PT Sans", Arial, sans-serif;
  font-size: 13px;
  line-height: 24px;
}

.about-us ul {
  font-family: "Cuprum", Arial, sans-serif;
  font-size: 18px;
  line-height: 24px;
  list-style: none;
  color: var(--basic-black);
}

.about-company a {
  font-family: "Cuprum", Arial, sans-serif;
  font-size: 14px;
  line-height: 18px;
  text-align: center;
  text-transform: uppercase;
  color: var(--basic-white);
  background-color: var(--basic-red);
}

/*footer*/

.main-footer {
  font-family: "Cuprum", Arial, sans-serif;
  background-color: var(--special-mediumgray);
}

.footer-nav {
  font-size: 18px;
  line-height: 24px;
}

.footer-contacts a,
.footer-contacts {
  color: var(--graylight2);
}

.footer-list,
.offerts-list {
  list-style: none;
}

.footer-list a {
  color: var(--basic-background);
}

.offerts-list a,
.feedback a,
.developed a {
  color: var(--special-yellowlight);
}

.footer-list a:hover,
.offerts-list a:hover,
.feedback a:hover,
.developed a:hover {
  text-decoration: underline;
}

.footer-list a:active,
.offerts-list a:active {
  opacity: 0.5;
}

.social-item a:hover,
.social-item a:active {
  background-color: var(--basic-red);
}

.feedback a:active,
.developed a:active {
  color: var(--error);
}

.footer-copyright {
  color: var(--basic-white);
  background-color: var(--special-darkgray);
}

.copyright {
  font-size: 16px;
  line-height: 18px;
}

.social-list {
  list-style: none;
}

.social-item a {
  padding: 10px;
  background: var(--icon-background);
  border-radius: 50%;
}

/*Catalog*/

.catalog-content {
  font-family: "PT Sans", Arial, sans-serif;
}

.bread-crumbs-list {
  font-size: 13px;
  line-height: 18px;
  text-transform: uppercase;
  list-style: none;
}

.bread-crumbs-list a {
  color: var(--basic-black);
}

.filter legend,
.filter label {
  text-transform: uppercase;
  color: var(--basic-black);
}

.filter h2,
.filter button,
.filter input {
  font-family: "PT Sans", Arial, sans-serif;
  background-color: var(--filter-background);
}

.filter h2 {
  font-weight: normal;
  font-size: 13px;
  line-height: 18px;
  color: var(--basic-black);
}

.filter legend {
  font-weight: bold;
  font-size: 17px;
  line-height: 30px;
}

.filter label {
  font-size: 15px;
  line-height: 19px;
}

h2.product {
  font-family: "Cuprum", Arial, sans-serif;
  font-size: 30px;
  line-height: 30px;
  text-transform: uppercase;
  color: var(--special-mediumgray);
  background-color: var(--product-background);
}

.catalog-list {
  font-family: "PT Sans",  Arial, sans-serif;
  font-size: 13px;
  line-height: 18px;
  text-transform: uppercase;
}

.catalog-list h2 {
  font-size: 13px;
  line-height: 18px;
  font-weight: normal;
  color: var(--basic-black);
}

.sorting,
.increase {
  list-style: none;
}

.sorting a,
.increase a {
  color: rgba(0, 0, 0, 0.3);
  text-decoration: underline;
  text-decoration-style: dashed;
  text-decoration-color: var(--basic-red);
}

a.active {
  color: var(--basic-red);
  opacity: 1;
  text-decoration: none;
}

.perforators-item {
  font-weight: bold;
  font-size: 17px;
  line-height: 18px;
  text-transform: uppercase;
}

.perforators-list h3 {
  font-size: 18px;
  line-height: 20px;
  color: var(--basic-black);
}

.old-price {
  text-decoration: line-through;
  color: var(--old-price-color);
}

.curent-price {
  color: var(--basic-white);
  background-color: var(--basic-red);
}

.buy,
.to-bookmarks {
  font-family: "Cuprum", Arial, sans-serif;
  font-weight: normal;
  font-size: 14px;
  line-height: 18px;
}

.buy {
  color: var(--basic-white);
  background-color: var(--basic-green);
  box-shadow: inset 0px -3px 0px #367315;
}


.buy:hover {
  background-color: var(--success);
}

.buy:active {
  background-color: var(--buy-active);
}

.to-bookmarks {
  color: var(--special-mediumgray);
}

.pages {
  list-style: none;
}

.pages a {
  font-size: 13px;
  line-height: 18px;
  color: var(--basic-black);
  text-transform: uppercase;
}

.pages a.current-page{
  color: var(--basic-white);
  background-color: var(--basic-red);
}

.description {
  background-color: var(--basic-background);
}

.description h2 {
  font-family: "Cuprum", Arial, sans-serif;
  font-weight: normal;
  font-size: 30px;
  line-height: 30px;
  text-transform: uppercase;
}

.description p {
  font-size: 13px;
  line-height: 24px;
}

/*pop-up*/

.popup-map,
.feedback-form,
.order-basket {
  display: none;
}