/*variables*/

:root {
  --basic-red: #EE3643;
  --basic-green: #63A63E;
  --basic-grey: #3D546F;
  --basic-greylight: #C5C5C5;
  --basic-background: #F1F5F7;
  --basic-white: #FFFFFF;
  --basic-black: #000000;
  --special-ylellow: #FFBF47;
  --special-blue: #3BBCE3;
  --special-lilac: #DC91D8;
  --special-greenlight: #8ED78F;
  --special-yellowlight: #FFD180;
  --special-darkgray: #293449;
  --special-mediumgray: #32425C;
  --success: #5FBB2D;
  --warning: #FFBF47;
  --error: #BA2732;
  --graylight: #EAEAEA;
  --graylight2: #F3F7F9;
  --icon-background: #212A3A;
  --product-background: #F2F6F8;
  --old-price-color: #A9A9A9;
  --special-black: #161D29;
  --buy-active: #518534;
  --yellowlight: #FFC047;
  --popular-background: #F9F5F0;
  --filter-background: #F7F3EC;
  --feedbackform-background: #F4F4F4;
  --scale-background: #d7dcde;
  --bar-color: #00ca74;
  --toggle-background: #ababab;
  --basket-link-background: #F1F1F1;
}

/*Global*/

body {
  position: relative;
  min-width: 960px;
  margin: 0;
  padding: 0;
  font-family: "Cuprum PT Sans", "Arial", sans-serif;
  font-size: 14px;
  line-height: 24px;
  color: var(--basic-black);
  background-color: var(--basic-white);
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/*Grid*/

.page {
  height: 100%;
}

.page-body {
  min-height: 100%;
  display: grid;
  grid-template-rows: min-content 1fr min-content;
  align-content: start;
}

/*Container*/

.container {
  width: 940px;
  margin: 0 auto;
  padding: 0 10px;
}

/*Main navigation*/

.main-navigation {
  font-family: "Cuprum", "Arial", sans-serif;
  font-size: 18px;
  line-height: 24px;
  color: var(--basic-black);
  background-color: var(--basic-background);
}

.navigation-top {
  background-color: var(--special-darkgray);
}

.navigation-top-wrapper {
  position: relative;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

.header-logo {
  margin: 0;
  padding: 0;
  padding-top: 15px;
  padding-right: 57px;
  padding-bottom: 11px;
  padding-left: 55px;
}

.header-logo img {
  padding-top: 7px;
}

.header-logo {
  background-color: var(--basic-red);
  box-shadow: inset 0 -5px 0 rgba(0, 0, 0, 0.24);
}

.header-logo:active {
  background-color: var(--error);
}

.main-navigation label {
  color: var(--basic-white);
}

.navigation-top a {
  color: var(--basic-white);
}

.navigation-top .bookmarks:active,
.navigation-top .basket:active {
  color: var(--basic-white);
  opacity: 0.5;
  background-color: var(--special-black);
}

.navigation-top .order:hover {
  background-color: var(--success);
}

.navigation-top .order:active {
  color: var(--basic-greylight);
}

.form-search {
  position: relative;
  display: flex;
  padding-top: 3px;
  padding-bottom: 4px;
  width: 265px;
  background-color: transparent;
  border: none;
}

.form-search button {
  position: absolute;
  top: 12px;
  left: 18px;
  width: 17px;
  height: 17px;
  background-image: url("../img/icon-search.svg");
  background-repeat: no-repeat;
  background-color: transparent;
  border: none;
  order: -1;
  opacity: 0.5;
}

.form-search input {
  margin-left: 42px;
  padding-top: 8px;
  padding-bottom: 9px;
  background-color: transparent;
  border: none;
}

.form-search input[type="search"]::placeholder {
  padding-top: 8px;
  padding-bottom: 9px;
  font-family: "Cuprum", "Arial", sans-serif;
  font-size: 18px;
  color: var(--basic-white);
  opacity: 1;
}

.bookmarks,
.basket {
  position: relative;
}

.basket {
  margin: 0;
  padding: 0;
  padding-top: 8px;
  padding-right: 26px;
  padding-bottom: 9px;
  padding-left: 49px;
}

.basket::before {
  content: "";
  position: absolute;
  top: 12px;
  left: 26px;
  width: 15px;
  height: 15px;
  background-image: url("../img/icon-cart.svg");
  background-repeat: no-repeat;
  opacity: 0.3;
}

.bookmarks {
  margin: 0;
  padding: 0;
  padding-top: 8px;
  padding-right: 24px;
  padding-bottom: 9px;
  padding-left: 41px;
}

.bookmarks::before {
  content: "";
  position: absolute;
  top: 12px;
  left: 18px;
  width: 14px;
  height: 15px;
  background-image: url("../img/icon-bookmark.svg");
  background-repeat: no-repeat;
  opacity: 0.3;
}

.bookmarks:hover::before,
.basket:hover::before {
  opacity: 1;
}

.main-registration .sign-up:hover,
.main-registration .register:hover,
.main-nav-list a:hover {
  color: var(--basic-red);
}

.main-registration .sign-up:active,
.main-registration .register:active,
.main-registration .user:active,
.main-nav-list a:active {
  color: var(--basic-greylight);
}

.site-navigation-item:hover {
  background-color: var(--special-darkgray);
}
.site-navigation-item:active {
  background-color: var(--special-darkgray);
  color: var(--basic-white);
  opacity: 0.5;
}

.navigation-top .order {
  margin: 0;
  padding: 0;
  padding-top: 8px;
  padding-right: 16px;
  padding-bottom: 9px;
  padding-left: 19px;
  background-color: var(--basic-green);
}

.navigation-middle .container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  margin-top: 45px;
}

.navigation-middle .address {
  font-size: 14px;
  line-height: 24px;
  color: var(--special-mediumgray);
}

.phone-wrapper {
  position: relative;
  display: flex;
  flex-direction: column;
}

.phone::before {
  content: "";
  position: absolute;
  width: 18px;
  height: 20px;
  top: 13px;
  left: 16px;
  background-image: url("../img/icon-phone.svg");
  background-repeat: no-repeat;
}

.phone-wrapper a {
  margin: 0;
  padding: 0;
  margin-right: 35px;
  margin-left: -23px;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 71px;
  font-weight: bold;
  font-size: 21px;
  line-height: 30px;
  border: 3px solid var(--basic-white);
}

.phone-wrapper p {
  margin: 0;
  padding: 0;
  margin-top: 2px;
  margin-left: -13px;
}

.main-registration {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.main-registration .sign-up,
.main-registration .register,
.main-registration .user {
  font-size: 21px;
  line-height: 21px;
  color: var(--basic-black);
  background-color: var(--basic-white);
}

.main-registration .sign-up {
  position: relative;
  margin-left: auto;
  padding-top: 12px;
  padding-right: 27px;
  padding-bottom: 12px;
  padding-left: 45px;
}

.sign-up::before {
  content: "";
  position: absolute;
  top: 15px;
  left: 17px;
  width: 40px;
  height: 40px;
  background-image: url("../img/icon-login.svg");
  background-repeat: no-repeat;
}

.register {
  margin-left: 10px;
  padding-top: 12px;
  padding-right: 24px;
  padding-bottom: 12px;
  padding-left: 24px;
}

.navigation-middle h1,
.phone-wrapper,
.main-registration {
  margin: 0;
  margin-left: 30px;
}

.navigation-middle h1,
.navigation-middle a.phone {
  color: var(--basic-red);
}

.navigation-middle h1 {
  margin: 0;
  padding: 0;
  padding-left: 30px;
  padding-right: 35px;
  font-family: "Cuprum", "Arial", sans-serif;
  font-style: italic;
  font-weight: normal;
  font-size: 16px;
  line-height: 23px;
}

.main-nav-list {
  display: flex;
  font-size: 16px;
  line-height: 18px;
  
}

.main-nav-list li:first-child {
  list-style: none;
}

.main-nav-item {
  padding-right: 29px;
}

.main-nav-list a {
  color: var(--special-mediumgray);
  text-align: center;
}

.site-navigation {
  padding-top: 15px;
  padding-bottom: 58px;
}

.site-navigation-list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  margin: 0;
  padding: 0;
  margin-top: 26px;
  padding-right: 10px;
  padding-left: 25px;
  list-style: none;
  background: var(--special-mediumgray);
  box-shadow: inset 0 -5px 0 #293449;
}

.site-navigation-item {
  padding-top: 16px;
  padding-right: 31px;
  padding-bottom: 20px;
  padding-left: 27px;
}

.site-navigation-item a {
  color: var(--basic-white);
}

/*main-content*/

.main-content-catalog {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.main-content {
  color: inherit;
  background-color: var(--basic-white);
}

.main-content-catalog .container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: flex-start;
  margin-top: 59px;
  font-family: "Cuprum", "Arial", sans-serif;
  color: var(--basic-white);
}

.main-content-catalog h3 {
  margin: 0;
  padding: 0;
  margin-bottom: 14px;
}

.main-content-catalog a {
  margin: 0;
  padding: 0;
  font-size: 14px;
  line-height: 18px;
  color: var(--basic-white);
  text-transform: uppercase;
  background-color: rgba(255, 255, 255, .3);
}

.materials {
  background-color: var(--warning);
}

.tool {
  background-color: var(--special-blue);
}

.equipment {
  background-color: var(--special-lilac);
}

.materials,
.tool,
.equipment {
  padding-top: 20px;
  padding-right: 141px;
  padding-bottom: 21px;
  padding-left: 22px;
}

.materials a {
  padding-top: 10px;
  padding-right: 24px;
  padding-bottom: 10px;
  padding-left: 23px;
}

.tool a {
  padding-top: 10px;
  padding-right: 26px;
  padding-bottom: 10px;
  padding-left: 26px;
}

.equipment a {
  padding-top: 10px;
  padding-right: 31px;
  padding-bottom: 10px;
  padding-left: 30px;
}

.main-content-slider,
.discounts-wrapper {
  margin-top: 20px;
}

.discounts {
  position: relative;
  background-color: var(--special-greenlight);
}

.discounts a {
  padding-top: 10px;
  padding-right: 23px;
  padding-bottom: 10px;
  padding-left: 22px;
}

.discounts::after {
  content: "";
  position: absolute;
  top: 26px;
  right: 45px;
  width: 59px;
  height: 72px;
  background-image: url("../img/discounts-shape.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.delivery {
  background-color: var(--yellowlight);
}

.delivery a {
  padding-top: 10px;
  padding-right: 37px;
  padding-bottom: 10px;
  padding-left: 36px;
}

.delivery {
  margin-top: 20px;
}

.discounts,
.delivery {
  padding-top: 20px;
  padding-right: 141px;
  padding-bottom: 21px;
  padding-left: 22px;
}
 
.materials a:hover {
  background-color: rgba(197, 197, 197, 0.3);
}

.materials a:active {
  background-color: rgba(169, 169, 169, 0.3);
}

.main-slider h2,
.main-slider h3 {
  margin: 0;
  padding: 0;
}
.main-content-discounts-list h3 {
  margin-bottom: 14px;
}

.main-content-slider {
  width: 620px;
  background-color: var(--basic-black);
}

.main-content-discounts-list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.main-content-discounts-item {
  padding-top: 20px;
  padding-right: 125px;
  padding-bottom: 21px;
  padding-left: 23px;
}

.main-content-slider h2 {
  font-size: 36px;
  line-height: 36px;
  text-transform: uppercase;
}

.main-content-slider p {
  font-size: 18px;
  line-height: 24px;
}

.main-content-slider a {
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;
  color: var(--basic-white);
  background-color: var(--basic-red);
}

.main-content-slider a:active {
  background-color: var(--error);
}

.main-content-catalog h3 {
  font-size: 24px;
  line-height: 30px;
}

.popular-products,
.popular-manufacturers-heading {
  background-color: var(--popular-background);
}

.popular-products h3,
.popular-manufacturers h3 {
  font-family: "Cuprum", "Arial", sans-serif;
  font-size: 30px;
  line-height: 30px;
  font-weight: normal;
  text-transform: uppercase;
  color: var(--special-mediumgray);
}

.popular-products a,
.popular-manufacturers-heading a,
.main-services a {
  font-family: "Cuprum", "Arial", sans-serif;
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;
  color: var(--basic-white);
  background-color: var(--basic-red);
}

.popular-products,
.popular-manufacturers-heading {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-top: 59px;
}

.popular-products h3,
.popular-manufacturers-heading h3 {
  padding-left: 28px;
}

.popular-products a {
  margin-right: 19px;
  padding-top: 11px;
  padding-right: 24px;
  padding-bottom: 9px;
  padding-left: 24px;
}

.popular-manufacturers-heading a {
  margin-right: 19px;
  padding-top: 11px;
  padding-right: 38px;
  padding-bottom: 9px;
  padding-left: 39px;
}

.popular-products-list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: baseline;
  margin-top: 20px;
}

.popular-products-list article:last-child {
  margin-right: 0;
}

.main-services {
  background-color: var(--basic-background);
}

.popular-manufacturer-list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 0;
  padding: 0;
  list-style: none;
}

.popular-manufacturer-item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 220px;
  margin-top: 20px;
  margin-right: 20px;
}

.popular-manufacturer-list li:nth-child(4n) {
  margin-right: 0;
}

.popular-manufacturer-item:hover {
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.15);
}

.popular-manufacturer-item:active {
  opacity: 0.5;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.15);
}

.main-services .container {
  display: flex;
  flex-direction: column;
  padding-top: 64px;
}

.main-services .container h3,
.main-services .container p,
.main-services .container a {
  margin: 0;
  padding: 0;
}

.main-bottom-slider {
  display: flex;
  margin-top: 70px;
}

.main-services h3 {
  font-family: "Cuprum", "Arial", sans-serif;
  font-weight: normal;
  font-size: 30px;
  line-height: 30px;
  text-transform: uppercase;
  color: var(--basic-black);
}

.main-services p {
  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 13px;
  line-height: 24px;
  color: var(--basic-black);
}

.slider-button {
  padding-top: 13px;
  padding-right: 139px;
  padding-bottom: 17px;
  padding-left: 22px;
  font-family: "Cuprum", "Arial", sans-serif;
  font-weight: bold;
  font-size: 21px;
  line-height: 30px;
  color: var(--basic-white);
  background-color: var(--special-mediumgray);
  box-shadow: 0 1px 0 #293449, inset 0 1px 0 #405069;
  border: none;
}

.bottom-slider-list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.bottom-slider-item {
  padding-right: 306px;
  padding-left: 80px;
}

.bottom-slider-item h3 {
  font-family: "Cuprum", "Arial", sans-serif;
  font-weight: normal;
  font-size: 30px;
  line-height: 30px;
  text-transform: uppercase;
  color: var(--special-mediumgray);
}

.bottom-slider-item p {
  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 13px;
  line-height: 24px;
  color: var(--special-black);
}


.slider-button:last-child {
  padding-right: 156px;
  padding-left: 22px;
}

.slider-button:hover {
  color: var(--basic-white);
  background-color: var(--special-darkgray);
}

.pressed {
  color: var(--special-mediumgray);
  background-color: var(--basic-white);
  box-shadow: 0 1px 0 #FFFFFF;
}

.about-company .container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-top: 70px;
  padding-bottom: 70px;
}

.main-adress { 
  display: flex;
  flex-direction: column;
}

.main-adress h2,
.main-adress p,
.about-us h2,
.about-us p {
  margin: 0;
  padding: 0;

}

.main-adress h2,
.about-us h2 {
  margin-bottom: 24px;
}

.main-adress p {
  padding-left: 0;
  padding-right: 10px;
}

.main-adress img {
  margin-top: 32px;
  margin-bottom: 25px;
}

.main-adress a.write-us {
  padding-top: 11px;
  padding-bottom: 9px;
}

.about-company h2 {
  font-family: "Cuprum", "Arial", sans-serif;
  font-weight: normal;
  font-size: 30px;
  line-height: 30px;
  text-transform: uppercase;
}

.about-company p {
  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 13px;
  line-height: 24px;
}

.about-us {
  width: 478px;
}

.about-us ul {
  margin: 0;
  padding: 0;
  margin-bottom: 30px;
  font-family: "Cuprum", "Arial", sans-serif;
  font-size: 18px;
  line-height: 24px;
  list-style: none;
  color: var(--basic-black);
}

.about-us p:nth-child(3) {
  margin-top: 25px;
}

.about-us p:last-child {
  margin-bottom: 20px;
}

.about-us li {
  position: relative;
  padding-top: 12px;
  padding-right: 0;
  padding-left: 37px;
}

.about-us li::before {
  content: "";
  position: absolute;
  width: 25px;
  height: 2px;
  top: 10px;
  left: 0;
  background-color: var(--basic-red);
}

.about-us li:nth-child(2)::before,
.about-us li:nth-child(3)::before {
  top: 23px;
}

.about-us li:first-child {
  padding-top: 0;
}

.detail {
  padding-top: 11px;
  padding-right: 41px;
  padding-bottom: 9px;
  padding-left: 39px;
}

.about-company a {
  font-family: "Cuprum", "Arial", sans-serif;
  font-size: 14px;
  line-height: 18px;
  text-align: center;
  text-transform: uppercase;
  color: var(--basic-white);
  background-color: var(--basic-red);
}


/*footer*/

.main-footer {
  margin-top: 48px;
  font-family: "Cuprum", "Arial", sans-serif;
  background-color: var(--special-darkgray);
}

.footer-nav {
  font-size: 18px;
  line-height: 24px;
  background-color: var(--special-mediumgray);
}

.footer-nav .container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-bottom: 54px;
}

.footer-menu {
  display: flex;
  flex-direction: column;
}

.footer-contacts {
  width: 327px;
}

.footer-contacts p {
  margin: 0;
  padding: 0;
  padding-top: 16px;
}

.footer-contacts a,
.footer-contacts {
  color: var(--graylight2);
}

.footer-list,
.offerts-list {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin: 0;
  padding: 0;
  padding-top: 36px;
 list-style: none;
}

.footer-list {
  width: 550px;
}

.offerts-list {
  padding-left: 25px;
  width: 525px;
}

.footer-list a {
  color: var(--basic-background);
}

.offerts-list a,
.feedback a,
.developed a {
  color: var(--special-yellowlight);
}

.footer-list a:hover,
.offerts-list a:hover,
.feedback a:hover,
.developed a:hover {
  text-decoration: underline;
}

.footer-list a:active,
.offerts-list a:active {
  opacity: 0.5;
}

.social-item:hover,
.social-item:active {
  background-color: var(--basic-red);
}

.feedback a:active,
.developed a:active {
  color: var(--error);
}

.footer-copyright {
  padding: 0;
  font-family: "Cuprum", "Arial", sans-serif;
  font-size: 16px;
  line-height: 18px;
  color: var(--basic-white);
}

.footer-copyright p {
  margin: 0;
}

.footer-copyright .container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  padding-top: 36px;
  padding-bottom: 34px;
}

.feedback-developed {
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-self: end;
  margin-right: 11px;
  margin-left: 15px;
}

.developed {
  justify-self: end;
}

.copyright {
  font-size: 16px;
  line-height: 18px;
}

.social-list {
  display: flex;
  justify-content: center;
  margin: 0;
  padding: 0;
  margin-right: 26px;
  list-style: none;
}

.social-item {
  display: flex;
  width: 44px;
  height: 44px;
  margin-right: 1px;
  border-radius: 50%;
  background: var(--icon-background);
}

.social-item a {
  margin: auto;
}

.feedback {
  width: 147px;
}

.developed {
  width: 100px;
}

/*Catalog*/

.catalog-content .container {
  display: grid;
  grid-template-columns: 220px 1fr;
  align-content: start;
  font-family: "PT Sans", "Arial", sans-serif;
}


.item-in-basket {
  background-color: var(--basic-red);
}

.user-login {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: end;
  margin: 0;
}

.user-login .user {
  position: relative;
  margin: 0;
  padding: 0;
  padding-top: 13px;
  padding-right: 57px;
  padding-bottom: 12px;
  padding-left: 56px;
}

.user-login ul {
  align-self: center;
  margin: 0;
  padding: 0;
  padding-left: 43px;
}

.main-nav-list li:nth-child(2) {
  padding-left: 3px;
}

.user-login .user::before {
  content: "";
  position: absolute;
  top: 15px;
  left: 15px;
  width: 20px;
  height: 18px;
  background-image: url("../img/icon-user.svg");
  background-repeat: no-repeat;
}

.user-login .user::after {
  content: "";
  position: absolute;
  top: 15px;
  right: 17px;
  width: 21px;
  height: 17px;
  background-image: url("../img/icon-logout.svg");
  background-repeat: no-repeat;
}

.bread-crumbs-list {
  grid-column: 1 / -1;
  margin: 0;
  padding: 0;
  font-size: 13px;
  line-height: 18px;
  text-transform: uppercase;
  list-style: none;
}

.bread-crumbs-item:first-child a {
  padding-left: 0;
}

.bread-crumbs-item {
  position: relative;
}

.bread-crumbs-item::after {
  content: "";
  position: absolute;
  top: 4px;
  right: -7px;
  width: 8px;
  height: 12px;
  background-image: url("../img/icon-right-small.svg");
  background-repeat: no-repeat;
}

.bread-crumbs-item:last-child::after {
  display: none;
}

.bread-crumbs-item,
.sorting-item,
.increase-item {
  display: inline-block;
}

.catalog-heading,
.sorting-list,
.buy,
.to-bookmarks,
.increase-list {
  text-transform: uppercase;
}

.bread-crumbs-list {
  margin-top: 21px;
}

.bread-crumbs-list a {
  padding-right: 20px;
  padding-left: 21px;
  color: var(--basic-black);
}

.filter {
  display: flex;
  flex-direction: column;
}

.filter,
.catalog-list {
  margin-top: 20px;
}

.filter fieldset {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  padding: 0;
  margin: 0;
  margin-bottom: 37px;
  border: none;
} 

.filter legend,
.filter label {
  text-transform: uppercase;
  color: var(--basic-black);
}

.filter h2,
.filter button,
.filter input {
  font-family: "PT Sans", "Arial", sans-serif;
  background-color: var(--filter-background);
}

.filter h2 {
  font-weight: normal;
  font-size: 13px;
  line-height: 18px;
  color: var(--basic-black);
}

.filter legend {
  font-weight: bold;
  font-size: 17px;
  line-height: 30px;
}

.filter label {
  font-size: 15px;
  line-height: 19px;
  padding-left: 35px;
}

.filter-item {
  margin: 0;
  padding: 0;
  border: none;
}

.range-filter {
  width: 220px;
  margin-top: 49px;
}

.range-controls {
  position: relative;
  height: 41px;
  margin-bottom: 15px;
  padding-top: 39px;
  padding-right: 20px;
  padding-left: 20px;
  background-color: var(--filter-background);
  border-radius: 5px;
}

.range-controls .scale {
  height: 2px;
  background: var(--scale-background);
}

.range-controls .bar {
  width: 85%;
  height: 2px;
  background: var(--bar-color);
}

.range-controls .toggle {
  position: absolute;
  top: 31px;
  left: 0;
  width: 4px;
  height: 4px;
  padding: 0;
  border: 8px solid var(--basic-white);
  background-color: var(--toggle-background);
  border-radius: 50%;
  box-shadow: 0 2px 1px 0 #cfcfcf;
  cursor: pointer;
}

.range-controls .toggle-min {
  left: 18px;
}

.range-controls .toggle-max {
  left: 160px;
}

.price-controls {
  display: flex;
  justify-content: space-between;
}

.price-controls input {
  width: 60px;
  padding: 10px;
  text-align: center;
  color: var(--basic-black);
  border-radius: 5px;
  background-color: var(--filter-background);
  font-family: inherit;
  font-size: inherit;
  border: none;
}

.manufacturer-legend {
  margin-bottom: 18px;
}

.manufacturer-filter .manufacturer-label,
.power-filter .power-label {
  position: relative;
  margin-bottom: 20px;
}

.manufacturer-filter { /*разобраться почему не срабатывает!!!*/
  border-top: 1px solid rgba(0, 0, 0, 0.0001);
  border-bottom: 1px solid rgba(0, 0, 0, 0.0001);
}

.manufacturer-filter .manufacturer-label::before {
  content: "";
  position: absolute;
  left: 0;
  width: 23px;
  height: 23px;
  background-image: url("../img/checkbox-off.svg");
  background-repeat: no-repeat;
}

.manufacturer-filter label:nth-child(2)::before,
.manufacturer-filter label:nth-child(4)::before {
  content: "";
  position: absolute;
  left: 0;
  width: 27px;
  height: 23px;
  background-image: url("../img/checkbox-on.svg");
  background-repeat: no-repeat;
}

.power-filter .power-label {
  position: relative;
}

.power-filter .power-label::before {
  content: "";
  position: absolute;
  left: 0;
  width: 25px;
  height: 25px;
  background-image: url("../img/radio-off.svg");
  background-repeat: no-repeat;
}

.power-filter label:nth-child(2)::before {
  content: "";
  position: absolute;
  left: 0;
  width: 25px;
  height: 25px;
  background-image: url("../img/radio-on.svg");
  background-repeat: no-repeat;
}

h2.product {
  grid-column: 1 / -1;
  margin: 0;
  padding: 0;
  margin-top: 20px;
  padding-top: 29px;
  padding-bottom: 30px;
  padding-left: 29px;
  font-family: "Cuprum", "Arial", sans-serif;
  font-size: 30px;
  line-height: 30px;
  text-transform: uppercase;
  color: var(--special-mediumgray);
  background-color: var(--product-background);
}

.catalog-list {
  margin-left: 20px;
  font-family: "PT Sans",  "Arial", sans-serif;
  font-size: 13px;
  line-height: 18px;
}

.sorting-wrapper {
  display: flex;
  justify-content: space-between;
  
}

.pages-item {
  display: inline-block;
}

.catalog-list h2 {
  font-size: 13px;
  line-height: 18px;
  font-weight: normal;
  color: var(--basic-black);
}

.sorting-list,
.increase-list {
  list-style: none;
}

.sorting-list a,
.increase-list a {
  color: rgba(0, 0, 0, 0.3);
  text-decoration: underline;
  text-decoration-style: dashed;
  text-decoration-color: var(--basic-red);
}

.sorting-item a:hover,
.increase-item a:hover {
  color: var(--basic-black);
  opacity: 1;
  text-decoration: underline;
  text-decoration-color: var(--basic-red);
}

a.active,
.sorting-item a:active,
.increase-item a:active {
  color: var(--basic-red);
  opacity: 1;
  text-decoration: none;
}

.section-catalog {
  display: flex;
  flex-wrap: wrap;
  align-items: baseline;
  margin: 0;
  padding: 0;
  margin-bottom: 25px;
}

.uppercase-title {
  text-transform: uppercase;
}

.perforators-item {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 220px;
  min-height: 318px;
  margin-right: 20px;
  margin-bottom: 20px;
  font-weight: bold;
  font-size: 17px;
  line-height: 18px;
  box-sizing: border-box;
  border: 1px solid var(--graylight);
}

.perforators-item::after {/*не могу сделать трапецию*/
  content: "new";
  position: absolute;
  right: 0;
  padding-top: 17px;
  padding-right: 17px;
  padding-bottom: 14px;
  padding-left: 14px;
  font-size: 14px;
  line-height: 18px;
  color: var(--basic-white);
  text-transform: uppercase;
  background-color: var(--basic-red);
  transform: rotate(45deg);
}

.order-wrapper {
  position: absolute;
  top: 38px;
  left: 41px;
  display: flex;
  flex-direction: column;
  background-color: var(--basic-white);
  box-sizing: border-box;
}

.order-wrapper {
  visibility: hidden;
}

.perforators-item:hover .order-wrapper {
  visibility: visible;
}

.perforators-item:hover {
  box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.15);
}

.buy {
  margin-bottom: 10px;
  position: relative;
  padding-top: 10px;
  padding-right: 40px;
  padding-bottom: 10px;
  padding-left: 53px;
  border-radius: 2px;
}

.buy::before {
  content: "";
  position: absolute;
  left: 30px;
  width: 15px;
  height: 15px;
  background-image: url("../img/icon-cart.svg");
  background-repeat: no-repeat;
  opacity: 0.5;
}

.to-bookmarks {
  padding-top: 11px;
  padding-right: 34px;
  padding-bottom: 9px;
  padding-left: 33px;
  border: 3px solid #63A63E;
  box-sizing: border-box;
  border-radius: 2px;
}

.to-bookmarks:hover {
  color: var(--special-mediumgray);
  border: 3px solid #32425C;
  box-sizing: border-box;
  border-radius: 2px;
}

.to-bookmarks:active {
  opacity: 0.5;
}

.perforators-item img {
  width: 144px;
  height: 112px;
}

.perforators-item:nth-child(3n) {
  margin-right: 0;
}

.perforators-item h3 {
  margin-top: 28px;
  margin-right: 17px;
  margin-bottom: 7px;
  margin-left: 18px;
  font-size: 18px;
  line-height: 20px;
  text-align: center;
  color: var(--basic-black);
}

.old-price {
  text-decoration: line-through;
  color: var(--old-price-color);
  text-align: center;
}

.curent-price {
  width: 141px;
  height: 38px;
  margin-left: 45px;
  padding-top: 10px;
  padding-right: 44px;
  padding-bottom: 10px;
  padding-left: 0;
  color: var(--basic-white);
  background-image: url("../img/curent-price.svg");
  background-repeat: no-repeat;
  text-align: center;
}

.buy,
.to-bookmarks {
  font-family: "Cuprum", "Arial", sans-serif;
  font-weight: normal;
  font-size: 14px;
  line-height: 18px;
}

.buy {
  color: var(--basic-white);
  background-color: var(--basic-green);
  box-shadow: inset 0 -3px 0 #367315;
}


.buy:hover {
  background-color: var(--success);
}

.buy:active {
  background-color: var(--buy-active);
}

.to-bookmarks {
  color: var(--special-mediumgray);
}

.pages-list {
  list-style: none;
}

.pages-list a {
  font-size: 13px;
  line-height: 18px;
  color: var(--basic-black);
  text-transform: uppercase;
}

.pages-list a.current-page{
  color: var(--basic-white);
  background-color: var(--basic-red);
}

.description {
  background-color: var(--basic-background);
}

.description .container {
  grid-template-columns: 1fr;
}

.description h2 {
  font-family: "Cuprum", "Arial", sans-serif;
  font-weight: normal;
  font-size: 30px;
  line-height: 30px;
  text-transform: uppercase;
}

.description p {
  font-size: 13px;
  line-height: 24px;
}

/*pop-up*/

.popup-map {
  position: absolute;
  bottom: 333px;
  left: 302px;
  z-index: 2;
}

.popup-map button {
  position: absolute;
  top: 10px;
  right: 25px;
  width: 21px;
  height: 21px;
  border: none;
  background-image: url("../img/icon-close.svg");
  background-repeat: no-repeat;
  background-color: transparent;
}

.popup-map img {
  box-shadow: none;
  border-top: 7px solid var(--basic-red);
}

.feedback-form {
  position: absolute;
  bottom: 381px;
  left: 510px;
  width: 620px;
  height: 423px;
  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 18px;
  line-height: 24px;
  color: var(--basic-black);
  z-index: 3;
  background-color: var(--basic-white);
  box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.15);
  border-top: 7px solid var(--basic-red);
}

.feedback-form-section {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex-wrap: wrap;
}

.feedback-form-wrapper {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.feedback-form input {
  width: 176px;
  padding-top: 7px;
  padding-right: 8px;
  padding-bottom: 7px;
  padding-left: 12px;
  border: 2px solid var(--basic-greylight);
}

.feedback-form textarea {
  width: 440px;
  height: 114px;
  border: 2px solid var(--basic-greylight);
}

.feedback-form input::placeholder,
.feedback-form textarea::placeholder {
  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 13px;
  color: var(--old-price-color);
}

.input-wrapper {
  width: 200px;
  padding-top: 39px;
}

.feedback-form-wrapper {
  width: 440px;
  margin: 0 auto;
  padding: 0 10px;
}

.close-form {
  position: absolute;
  top: 10px;
  right: 10px;
  z-index: 4;
}

.button-wrapper {
  margin-top: 72px;
  padding: 37px 80px;
  background-color: var(--feedbackform-background);
}

.button-wrapper button {
  font-family: "Cuprum", "Arial", sans-serif;
  font-size: 14px;
  color: var(--basic-white);
  text-transform: uppercase;
  padding-top: 11px;
  padding-right: 200px;
  padding-bottom: 9px;
  padding-left: 198px;
  background-color: var(--basic-red);
  border: none;
}

.close-form {
  width: 21px;
  height: 21px;
  background-image: url(../img/icon-close.svg);
  background-repeat: no-repeat;
  background-color: transparent;
  border: none;
}

/*Catalog pop-up*/

.order-basket {
  position: absolute;
  top: 655px;
  right: 306px;
  display: flex;
  flex-direction: column;
  width: 620px;
  background-color: var(--basic-white);
  border-top: 7px solid var(--basic-red);
}

.order-basket p {
  position: relative;
  padding-top: 73px;
  padding-bottom: 67px;
  font-family: "Cuprum", "Arial", sans-serif;
  font-weight: bold;
  font-size: 24px;
  line-height: 30px;
  color: var(--basic-black);
  text-align: center;
}

.order-basket p::before {
  content: "";
  position: absolute;
  top: 55px;
  left: 81px;
  width: 66px;
  height: 66px;
  background-image: url("../img/icon-mark.svg");
  background-repeat: no-repeat;
}

.order-basket-link {
  padding-top: 37px;
  padding-right: 112px;
  padding-bottom: 37px;
  padding-left: 108px;
  background-color: var(--basket-link-background);
}

.order-basket-link a {
  font-family: "Cuprum", "Arial", sans-serif;
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;
}

.order-basket-link a:first-child {
  margin-right: 10px;
  padding-top: 11px;
  padding-right: 46px;
  padding-bottom: 9px;
  padding-left: 47px;
  color: var(--basic-white);
  background-color: var(--basic-red);
}

.order-basket-link a:last-child {
  padding-top: 11px;
  padding-right: 31px;
  padding-bottom: 9px;
  padding-left: 32px;
  color: var(--basic-black);
  background-color: var(--basic-white);
}

/*.popup-map,
.feedback-form,
.order-basket {
  display: none;
}*/