/*variables*/

:root {
  --basic-red: #EE3643;
  --basic-green: #63A63E;
  --basic-grey: #3D546F;
  --basic-greylight: #C5C5C5;
  --basic-background: #F1F5F7;
  --basic-white: #FFFFFF;
  --basic-black: #000000;
  --special-ylellow: #FFBF47;
  --special-blue: #3BBCE3;
  --special-lilac: #DC91D8;
  --special-greenlight: #8ED78F;
  --special-yellowlight: #FFD180;
  --special-darkgray: #293449;
  --special-mediumgray: #32425C;
  --success: #5FBB2D;
  --warning: #FFBF47;
  --error: #BA2732;
  --graylight: #EAEAEA;
  --graylight2: #F3F7F9;
  --icon-background: #212A3A;
  --product-background: #F2F6F8;
  --old-price-color: #A9A9A9;
  --special-black: #161D29;
  --buy-active: #518534;
  --yellowlight: #FFC047;
  --popular-background: #F9F5F0;
  --filter-background: #F7F3EC;
  --feedbackform-background: #F4F4F4;
  --scale-background: #d7dcde;
  --bar-color: #00ca74;
  --toggle-background: #ababab;
  --basket-link-background: #F1F1F1;
  --hyphen-color: #444444;
  --hover-background: #CA2C37; 
}

/*Global*/

body {
  position: relative;
  min-width: 960px;
  margin: 0;
  padding: 0;
  font-family: "Cuprum PT Sans", "Arial", sans-serif;
  font-size: 14px;
  line-height: 24px;
  color: var(--basic-black);
  background-color: var(--basic-white);
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
* {
  box-sizing: border-box;
}

/*Grid*/

.page {
  height: 100%;
}

.page-body {
  min-height: 100%;
  display: grid;
  grid-template-rows: min-content 1fr min-content;
  align-content: start;
}

/*Container*/

.container {
  width: 960px;
  margin: 0 auto;
  padding: 0 10px;
}

/*Main navigation*/

.main-header {
  font-family: "Cuprum", "Arial", sans-serif;
  font-size: 18px;
  line-height: 24px;
  color: var(--basic-black);
  background-color: var(--basic-background);
  box-sizing: border-box;
}

.navigation-top {
  background-color: var(--special-darkgray);
}

.navigation-top-wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: stretch;
}

.header-logo {
  margin: 0;
  padding: 0;
  width: 220px;
  padding-top: 12px;
  padding-right: 57px;
  padding-bottom: 5px;
  padding-left: 55px;
  background-color: var(--basic-red);
  box-shadow: 0 5px 0 rgba(186, 39, 50, 1);
}

.main-header-logo {
  margin: 0;
  padding: 0;
  width: 220px;
  padding-top: 5px;
  padding-right: 57px;
  padding-bottom: 5px;
  padding-left: 55px;
  background-color: var(--basic-red);
  box-shadow: 0 5px 0 rgba(186, 39, 50, 1);

}

.main-footer-logo {
  margin: 0;
  padding: 0;
  width: 220px;
  padding-top: 20px;
  padding-right: 41px;
  padding-bottom: 20px;
  padding-left: 41px;
  background-color: var(--basic-red);
  box-shadow: 0 5px 0 rgba(186, 39, 50, 1);
}

.footer-logo {
  margin: 0;
  padding: 0;
  width: 220px;
  padding-top: 20px;
  padding-right: 41px;
  padding-bottom: 5px;
  padding-left: 41px;
  background-color: var(--basic-red);
  box-shadow: 0 5px 0 rgba(186, 39, 50, 1);
}

.header-logo:active,
.footer-logo:active {
  background-color: var(--error);
}

.main-navigation label {
  color: var(--basic-white);
}

.navigation-top a {
  align-self: center;
  color: var(--basic-white);
}

.navigation-top .bookmarks:active,
.navigation-top .basket:active {
  color: var(--basic-white);
  opacity: 0.5;
  background-color: var(--special-black);
}

.navigation-top .order:hover {
  background-color: var(--success);
}

.navigation-top .order:active {
  color: var(--basic-greylight);
}

.form-search {
  width: 270px;
  position: relative;
  align-self: center;
}

.form-search svg {
  position: absolute;
  top: 10px;
  left: 17px;
  fill-opacity: 0.5;
}

.form-search input {
  width: inherit;
  padding-top: 7px;
  padding-bottom: 8px;
  padding-left: 42px;
  font-family: "Cuprum", "Arial", sans-serif;
  font-size: 18px;
  line-height: 24px;
  color: var(--basic-black);
  background-color: transparent;
  border: none;
}

.form-search:focus-within {
  background-color: var(--basic-white);
}

.form-search:hover svg {
  fill-opacity: 1;
}

.form-search:focus-within path {
  fill: var(--basic-red);
  fill-opacity: 1;
}

.form-search input[type="search"]::placeholder {
  font-family: "Cuprum", "Arial", sans-serif;
  font-size: 18px;
  color: var(--basic-white);
  opacity: 1;
}

.bookmarks,
.basket {
  position: relative;
}

.order {
  width: 150px;
  min-height: 42px;
  margin: 0;
  padding: 0;
  padding-top: 9px;
  padding-right: 16px;
  padding-bottom: 9px;
  padding-left: 19px;
  background-color: var(--basic-green);
  text-align: center;
  align-self: center;
}

.basket {
  width: 136px;
  min-height: 42px;
  margin: 0;
  padding: 0;
  padding-top: 9px;
  padding-right: 5px;
  padding-bottom: 9px;
  padding-left: 19px;
  text-align: center;
  align-self: center;
}

.basket::before {
  content: "";
  position: absolute;
  top: 13px;
  left: 12px;
  width: 15px;
  height: 15px;
  background-image: url("../img/icon-cart.svg");
  background-repeat: no-repeat;
  opacity: 0.3;
}



.bookmarks {
  width: 164px;
  min-height: 42px;
  margin: 0;
  padding: 0;
  padding-top: 9px;
  padding-right: 24px;
  padding-bottom: 9px;
  padding-left: 30px;
  text-align: center;
  align-self: center;
}

.bookmarks::before {
  content: "";
  position: absolute;
  top: 13px;
  left: 20px;
  width: 14px;
  height: 15px;
  background-image: url("../img/icon-bookmark.svg");
  background-repeat: no-repeat;
  opacity: 0.3;
}

.bookmarks:hover::before,
.basket:hover::before {
  opacity: 1;
}

.main-registration .sign-up:hover,
.main-registration .register:hover,
.main-nav-list a:hover {
  color: var(--basic-red);
}

.main-registration .sign-up:active,
.main-registration .register:active,
.user-login .user:active,
.main-nav-list a:active {
  color: var(--basic-greylight);
}

.site-navigation-item:hover {
  background-color: var(--special-darkgray);
}

.site-navigation-item:active {
  background-color: var(--special-darkgray);
  color: var(--basic-white);
  opacity: 0.5;
}

.navigation-middle {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  margin-top: 45px;
}

.navigation-middle h1 {
  margin: 0;
  padding: 0;
  padding-left: 30px;
  padding-right: 35px;
  font-family: "Cuprum", "Arial", sans-serif;
  font-style: italic;
  font-weight: normal;
  font-size: 16px;
  line-height: 23px;
}

.navigation-middle .address {
  font-size: 14px;
  line-height: 24px;
  color: var(--special-mediumgray);
}

.phone-wrapper {
  position: relative;
  display: flex;
  flex-direction: column;
  margin-left: 7px;
  width: 270px;
}

.phone::before {
  content: "";
  position: absolute;
  width: 18px;
  height: 20px;
  top: 14px;
  left: 39px;
  background-image: url("../img/icon-phone.svg");
  background-repeat: no-repeat;
}

.phone-wrapper a {
  margin: 0;
  padding: 0;
  padding-top: 5px;
  padding-right: 42px;
  padding-bottom: 5px;
  padding-left: 71px;
  font-weight: bold;
  font-size: 21px;
  line-height: 30px;
  border: 3px solid var(--basic-white);
}

.phone-wrapper p {
  margin: 0;
  padding: 0;
  margin-top: 3px;
  margin-left: 9px;}

.user-login {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: end;
    margin: 0;
}

.main-registration .sign-up,
.main-registration .register,
.user-login .user {
  font-size: 21px;
  line-height: 21px;
  color: var(--basic-black);
  background-color: var(--basic-white);
}

.main-registration {
  display: flex;
  align-items: flex-start;
  justify-self: end;
  margin: 0;
}

.main-registration .sign-up {
  margin-right: 10px;
  padding-top: 14px;
  padding-right: 28px;
  padding-bottom: 12px;
  padding-left: 20px;
}

.sign-up:hover path {
  fill: var(--basic-grey);
}

.sign-up:active path {
  fill: var(--basic-greylight);
}

.main-registration .register {
  padding-top: 14px;
  padding-right: 24px;
  padding-bottom: 12px;
  padding-left: 24px;
}

.user-login {
  margin: 0;
  margin-left: 30px;
}

.navigation-middle h1,
.navigation-middle a.phone {
  color: var(--basic-red);
}


.main-nav-list {
  display: flex;
  font-size: 16px;
  line-height: 18px; 
}

.main-nav-list li:first-child {
  list-style: none;
}

.main-nav-item {
  padding-right: 29px;
}

.main-nav-list a {
  color: var(--special-mediumgray);
  text-align: center;
}

.site-navigation {
  margin-top: 40px;
  margin-bottom: 58px;
}

.site-navigation-list {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  margin: 0;
  padding: 0;
  padding-right: 22px;
  padding-left: 22px;
  list-style: none;
  background: var(--special-mediumgray);
  box-shadow: inset 0 -5px 0 #293449;
}

.site-navigation-item {
  padding-top: 16px;
  padding-bottom: 20px;
}

.site-navigation-item a {
  padding-top: 17px;
  padding-right: 28px;
  padding-bottom: 22px;
  padding-left: 29px;
  color: var(--basic-white);
}

/*main-content*/

.main-content {
  color: inherit;
  background-color: var(--basic-white);
}

.main-content-catalog {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: flex-start;
  margin-top: 61px;
  font-family: "Cuprum", "Arial", sans-serif;
  color: var(--basic-white);
}

.main-content-catalog h3 {
  margin: 0;
  padding: 0;
  margin-bottom: 14px;
  font-size: 24px;
  line-height: 30px;
}

.main-content-catalog a {
  margin: 0;
  padding: 0;
  font-size: 14px;
  line-height: 18px;
  color: var(--basic-white);
  text-transform: uppercase;
  background-color: rgba(255, 255, 255, .3);
}

.materials {
  width: 135px;
  min-height: 38px;
  padding-top: 20px;
  padding-right: 43px;
  padding-bottom: 21px;
  padding-left: 23px;
  background-color: var(--warning);
}

.materials::before {
  content: "";
  position: absolute;
  width: 44px;
  height: 65px;
  top: 31px;
  right: 43px;
  background-image: url("../img/icon-1.svg");
  background-repeat: no-repeat;
}

.materials::after {
  content: "new";
  position: absolute;
  top: 6px;
  right: -23px;
  width: 25px;
  height: 0;
  font-family: "Cuprum", "Arial", sans-serif;
  font-size: 14px;
  line-height: 30px;
  text-align: center;
  text-transform: uppercase;
  color: var(--basic-white);
  border-bottom: 28px solid var(--basic-red);
  border-right: 30px solid transparent;
  border-left: 30px solid transparent;
  transform: rotate(45deg);
}

.tool {
  width: 135px;
  min-height: 38px;
  padding-top: 20px;
  padding-right: 43px;
  padding-bottom: 21px;
  padding-left: 23px;
  background-color: var(--special-blue);
}

.tool::before {
  content: "";
  position: absolute;
  width: 75px;
  height: 61px;
  top: 34px;
  right: 31px;
  background-image: url("../img/icon-2.svg");
  background-repeat: no-repeat;
}

.equipment {
  width: 135px;
  min-height: 38px;
  padding-top: 20px;
  padding-right: 43px;
  padding-bottom: 21px;
  padding-left: 23px;
  background-color: var(--special-lilac);
}

.equipment::before {
  content: "";
  position: absolute;
  width: 78px;
  height: 62px;
  top: 31px;
  right: 31px;
  background-image: url("../img/icon-3.svg");
  background-repeat: no-repeat;
}

.materials,
.tool,
.equipment,
.discounts,
.delivery {
  position: relative;
  width: 300px;
  display: flex;
  flex-direction: column;
}

.materials a {
  width: 135px;
  min-height: 38px;
  padding-top: 10px;
  padding-right: 24px;
  padding-bottom: 10px;
  padding-left: 23px;
  text-align: center;
}

.tool a {
  width: 135px;
  min-height: 38px;
  padding-top: 10px;
  padding-right: 26px;
  padding-bottom: 10px;
  padding-left: 26px;
  text-align: center;
}

.equipment a {
  width: 135px;
  min-height: 38px;
  padding-top: 10px;
  padding-right: 31px;
  padding-bottom: 10px;
  padding-left: 30px;
  text-align: center;
}

.discounts-wrapper {
  margin-top: 20px;
}

.discounts {
  min-width: 135px;
  min-height: 38px;
  padding-top: 20px;
  padding-right: 43px;
  padding-bottom: 21px;
  padding-left: 23px;
  background-color: var(--special-greenlight);
}

.discounts a {
  width: 135px;
  min-height: 38px;
  padding-top: 10px;
  padding-right: 22px;
  padding-bottom: 10px;
  padding-left: 23px;
  text-align: center;
}

.discounts::after {
  content: "";
  position: absolute;
  top: 26px;
  right: 45px;
  width: 59px;
  height: 72px;
  background-image: url("../img/discounts-shape.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.delivery {
  min-width: 135px;
  min-height: 38px;
  margin-top: 20px;
  padding-top: 20px;
  padding-right: 43px;
  padding-bottom: 21px;
  padding-left: 23px;
  background-color: var(--yellowlight);
}

.delivery a {
  width: 135px;
  min-height: 38px;
  padding-top: 10px;
  padding-right: 37px;
  padding-bottom: 10px;
  padding-left: 36px;
  text-align: center;
}

.delivery::after {
  content: "";
  position: absolute;
  top: 32px;
  right: 31px;
  width: 78px;
  height: 63px;
  background-image: url("../img/icon-5.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.materials a:hover,
.tool a:hover,
.equipment a:hover,
.discounts a:hover,
.delivery a:hover {
  background-color: rgba(197, 197, 197, 0.3);
}

.materials a:active,
.tool a:active,
.equipment a:active,
.discounts a:active,
.delivery a:active {
  background-color: rgba(169, 169, 169, 0.3);
}

.main-slider h2,
.main-slider h3 {
  margin: 0;
  padding: 0;
}
.main-content-discounts-list h3 {
  margin-bottom: 14px;
}

.main-content-slider {
  position: relative;
  margin: 0;
  padding: 0;
  margin-top: 20px;
  width: 620px;
  min-height: 266px;
  background-color: var(--basic-black);
  padding-top: 23px;
  padding-right: 21px;
  padding-bottom: 27px;
  padding-left: 24px;
}

.slider-backgorund-perforators {
  background-image: url("../img/man_with_perforaotr.jpg");
}

.slider-backgorund-drill {
  background-image: url("../img/man_with_drill.jpg");
}

.slider-backgorund-perforator {
  background-image: url("../img/man_with_perforaotr.jpg");
}

.main-content-slider h2,
.main-content-slider p,
.main-content-slider a {
  margin: 0;
  padding: 0;
}

.main-content-discounts-list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.main-content-slider h2 {
  font-size: 36px;
  line-height: 36px;
  text-transform: uppercase;
}

.main-content-slider p {
  margin-top: 6px;
  font-size: 18px;
  line-height: 24px;
}

.main-content-slider a {
  position: absolute;
  bottom: 27px;
  width: 192px;
  padding: 10px 46px;
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;
  color: var(--basic-white);
  background-color: var(--basic-red);
}

.main-content-slider ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.slider-item {
  display: none;
}

.current-display {
  display: block;
}

button.arrow-left {
  position: absolute;
  top: 46%;
  width: 22px;
  height: 40px;
  background-image: url("../img/icon-left.svg");
  background-repeat: no-repeat;
  background-color: transparent;
  border: none;
  cursor: pointer;
}

button.arrow-right {
  position: absolute;
  top: 46%;
  right: 21px;
  width: 22px;
  height: 40px;
  background-image: url("../img/icon-right.svg");
  background-repeat: no-repeat;
  background-color: transparent;
  border: none;
  cursor: pointer;
}

button.bullet-left,
button.bullet-right {
  position: absolute;
  margin: 0;
  padding: 0;
  width: 10px;
  height: 10px;
  border: 2px solid var(--basic-white);
  border-radius: 50%;
  cursor: pointer;
}

.bullet-active {
  background-color: var(--basic-red);
}

button.bullet-left {
  bottom: 36px;
  left: 295px;
}

button.bullet-right {
  bottom: 36px;
  right: 295px;
}

/*Состояние красных кнопок*/

.main-content-slider a:hover,
.popular-products a:hover,
.popular-manufacturers-heading a:hover,
.bottom-slider-item a:hover,
.detail:hover,
.write-us:hover {
  background-color: var(--hover-background);
}

.main-content-slider a:active,
.popular-products a:active,
.popular-manufacturers-heading a:active,
.bottom-slider-item a:active,
.detail:active,
.write-us:active {
  background-color: var(--error);
}

.popular-products,
.popular-manufacturers-heading {
  background-color: var(--popular-background);
}

.popular-products h3,
.popular-manufacturers h3 {
  font-family: "Cuprum", "Arial", sans-serif;
  font-size: 30px;
  line-height: 30px;
  font-weight: normal;
  text-transform: uppercase;
  color: var(--special-mediumgray);
}

.popular-products a,
.popular-manufacturers-heading a,
.main-services a {
  font-family: "Cuprum", "Arial", sans-serif;
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;
  color: var(--basic-white);
  background-color: var(--basic-red);
}

.popular-products,
.popular-manufacturers-heading {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-top: 59px;
  padding-top: 26px;
  padding-right: 19px;
  padding-bottom: 26px;
  padding-left: 19px;
}

.popular-products h3,
.popular-manufacturers-heading h3 {
  margin: 0;
  padding: 0;
  margin-left: 9px;
}

.popular-products a {
  width: 192px;
  margin: 0;
  padding: 0;
  padding-top: 10px;
  padding-right: 24px;
  padding-bottom: 10px;
  padding-left: 24px;
}

.popular-manufacturers-heading a {
  width: 192px;
  padding-top: 11px;
  padding-right: 38px;
  padding-bottom: 9px;
  padding-left: 39px;
}

.popular-products-list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: stretch;
  margin-top: 20px;
}

.popular-products-list .perforators-item {
  position: relative;
  margin-right: 20px;
  margin-bottom: 10px;
}

.popular-products-list .perforators-item:nth-child(4n) {
  margin-right: 0;
}

.main-services {
  background-color: var(--basic-background);
}

.popular-manufacturer-list {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  list-style: none;
}

.manufacturer-item-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 220px;
  min-height: 145px;
  border: 1px solid #EAEAEA;
}

.popular-manufacturer-item {
  margin-top: 20px;
  margin-right: 20px;
}

.popular-manufacturer-item img {
  object-fit: contain;
}

.popular-manufacturer-item a {
  margin: 0;
  padding: 0;
}

.popular-manufacturer-list li:nth-child(4n) {
  margin-right: 0;
}

a.manufacturer-item-link:hover {
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.15);
}

.popular-manufacturer-item:active {
  opacity: 0.5;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.15);
}

.main-services {
  margin-top: 69px;
}

.main-services .container {
  display: flex;
  flex-direction: column;
}

.main-services p.good-store {
}

.main-services h2 {
  margin: 0;
  padding: 0;
  margin-top: 65px;
  margin-bottom: 25px;
}

p.good-store {
  width: 396px;
  margin: 0;
  padding: 0;
}

.main-bottom-slider {
  display: flex;
  margin-top: 67px;
  margin-bottom: 99px;
}

.main-services h2 {
  font-family: "Cuprum", "Arial", sans-serif;
  font-weight: normal;
  font-size: 30px;
  line-height: 30px;
  text-transform: uppercase;
  color: var(--basic-black);
}

.main-services p {
  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 13px;
  line-height: 24px;
  color: var(--basic-black);
}

.slider-button {
  width: 240px;
  padding-top: 16px;
  padding-right: 139px;
  padding-bottom: 17px;
  padding-left: 22px;
  font-family: "Cuprum", "Arial", sans-serif;
  font-weight: bold;
  font-size: 21px;
  line-height: 30px;
  color: var(--basic-white);
  background-color: var(--special-mediumgray);
  border: none;
}

.bottom-slider-controls::after {
  content: "";
  position: absolute;
  top: -46px;
  right: 0px;
  width: 10px;
  height: 279px;
  background-image: url(../img/line.png);
  background-repeat: no-repeat;
  
}

.bottom-slider-list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.bottom-slider-item {
  position: relative;
  display: none;
  padding-right: 306px;
  padding-left: 80px;
  z-index: 10;
}

.bottom-slider-item:first-child::after {
  content: "";
  position: absolute;
  top: 22px;
  right: -40px;
  width: 468px;
  height: 261px;
  background-image: url(../img/delivery.png);
  background-repeat: no-repeat;
  z-index: -7;
}

.bottom-slider-item:nth-child(2) h3 {
  font-size: 36px;
  line-height: 24px;
  margin-bottom: 34px;
}

.bottom-slider-item:nth-child(2)::after {
  content: "";
  position: absolute;
  top: 1px;
  right: -8px;
  width: 389px;
  height: 283px;
  background-image: url(../img/medal.png);
  background-repeat: no-repeat;
}

.bottom-slider-item:last-child::after {
  content: "";
  position: absolute;
  top: 1px;
  right: -46px;
  width: 465px;
  height: 285px;
  background-image: url(../img/credit.png);
  background-repeat: no-repeat;
}

.bottom-slider-item:last-child h3 {
  font-size: 36px;
  line-height: 30px;
}

.slide-current {
  display: block;
}

.bottom-slider-item h3 {
  margin: 0;
  padding: 0;
  margin-bottom: 28px;
  font-family: "Cuprum", "Arial", sans-serif;
  font-weight: normal;
  font-size: 30px;
  line-height: 30px;
  text-transform: uppercase;
  color: var(--special-mediumgray);
}

.bottom-slider-item p {
  margin: 0;
  padding: 0;
  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 13px;
  line-height: 25px;
  color: var(--special-black);
}

.bottom-slider-item a {
  display: block;
  width: 195px;
  margin-top: 29px;
  padding: 10px 44px;
  border-radius: 2px;
}

.slider-button:last-child {
  padding-right: 156px;
  padding-left: 22px;
}

.bottom-slider-controls button:not(:first-child):hover {
  color: var(--basic-white);
  background-color: var(--special-darkgray);
  cursor: pointer;
}

button.active {
  color: var(--special-mediumgray);
  background-color: var(--basic-white);
  cursor: auto;
}

.bottom-slider-controls {
  position: relative;
  width: 240px;
}

.about-company .container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 69px;
  margin-bottom: 71px;
}

.main-adress { 
  display: flex;
  flex-direction: column;
}

.about-us h2 {
  margin: 0;
  padding: 0;
  margin-bottom: 24px;
}

.main-adress h2,
.main-adress p,
.about-us p {
  margin: 0;
  padding: 0;
}

.main-adress h2,
.about-us h2 {
  margin-bottom: 24px;
}

.main-adress p {
  padding-left: 0;
  padding-right: 10px;
}

.main-adress img {
  margin-top: 32px;
  margin-bottom: 25px;
  width: 300px;
  min-height: 158px;
  background-color: var(--basic-black);
}

.main-adress a.write-us {
  width: 300px;
  padding-top: 10px;
  padding-right: 10px;
  padding-bottom: 10px;
  padding-left: 10px;
}

.about-company h2 {
  font-family: "Cuprum", "Arial", sans-serif;
  font-weight: normal;
  font-size: 30px;
  line-height: 30px;
  text-transform: uppercase;
}

.about-company p {
  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 13px;
  line-height: 24px;
}

.about-us {
  width: 478px;
}

.about-us ul {
  margin: 0;
  padding: 0;
  margin-bottom: 25px;
  font-family: "Cuprum", "Arial", sans-serif;
  font-size: 18px;
  line-height: 24px;
  list-style: none;
  color: var(--basic-black);
}

.about-us p:nth-child(3) {
  margin-top: 25px;
}

.about-us p:last-child {
  margin-bottom: 20px;
}

.about-us li {
  position: relative;
  margin-top: 2px;
  margin-bottom: 13px;
  padding-right: 0;
  padding-left: 37px;
}

.about-us li::before {
  content: "";
  position: absolute;
  width: 25px;
  height: 2px;
  top: 14px;
  left: 0;
  background-color: var(--basic-red);
}

.about-us li:nth-child(2)::before,
.about-us li:nth-child(3)::before {
  top: 10px;
}

.about-us li:first-child {
  padding-top: 0;
}

.detail {
  width: 220px;
  padding-top: 11px;
  padding-right: 26px;
  padding-bottom: 10px;
  padding-left: 27px;
}

.about-company a {
  font-family: "Cuprum", "Arial", sans-serif;
  font-size: 14px;
  line-height: 18px;
  text-align: center;
  text-transform: uppercase;
  color: var(--basic-white);
  background-color: var(--basic-red);
}


/*footer*/

.main-footer {
  font-family: "Cuprum", "Arial", sans-serif;
  background-color: var(--special-mediumgray);
}

.footer-nav {
  font-size: 18px;
  line-height: 24px;
  margin-bottom: 54px;
}

.footer-logo img {
  width: 138px;
  height: 53px;
  margin-top: 5px;
}

.footer-logo {
  padding-top: 42px;
  padding-right: 41px;
  padding-bottom: 0px;
  padding-left: 41px;
}  


.footer-nav .container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.footer-menu {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

.footer-contacts {
  width: 327px;
}

.footer-contacts p {
  margin: 0;
  padding: 0;
  margin-top: 21px;
  margin-left: 2px;}

.footer-contacts a,
.footer-contacts {
  color: var(--graylight2);
}

.footer-contacts a:last-child {
  margin-left: 4px;
}

.footer-list,
.offerts-list {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin: 0;
  padding: 0;
  margin-top: 36px;
 list-style: none;
}

.footer-list {
  width: 550px;
}

.offerts-list {
  margin-left: 25px;
  width: 525px;
}

.footer-list a {
  color: var(--basic-background);
}

.offerts-list a,
.feedback a,
.developed a {
  color: var(--special-yellowlight);
}

.footer-list a:hover,
.offerts-list a:hover,
.feedback a:hover,
.developed a:hover {
  text-decoration: underline;
}

.footer-list a:active,
.offerts-list a:active {
  opacity: 0.5;
}

.social-item:hover,
.social-item:active {
  background-color: var(--basic-red);
}

.feedback a:active,
.developed a:active {
  color: var(--error);
}

.footer-copyright {
  padding: 0;
  font-family: "Cuprum", "Arial", sans-serif;
  font-size: 16px;
  line-height: 18px;
  color: var(--basic-white);
  background-color: var(--special-darkgray);
}

.footer-copyright p {
  margin: 0;
}

.footer-copyright .container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  padding-top: 36px;
  padding-bottom: 30px;
}

.feedback-developed {
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-self: end;
  margin-right: 11px;
  margin-left: 15px;
}

.developed {
  justify-self: end;
}

.copyright {
  font-size: 16px;
  line-height: 18px;
}

.social-list {
  display: flex;
  justify-content: center;
  margin: 0;
  padding: 0;
  margin-right: 26px;
  list-style: none;
}

.social-item {
  display: flex;
  width: 42px;
  height: 42px;
  margin-right: 2px;
  border-radius: 50%;
  background: var(--icon-background);
}

.vk-com,
.facebook-com,
.instagram-com {
  position: relative;
}

.vk-com::before {
  content: "";
  position: absolute;
  top: 13px;
  left: 8px;
  width: 26px;
  height: 15px;
  background-image: url("../img/icon-vk.svg");
  background-repeat: no-repeat;
}

.facebook-com::before {
  content: "";
  position: absolute;
  top: 9px;
  left: 16px;
  width: 12px;
  height: 22px;
  background-image: url("../img/icon-fb.svg");
  background-repeat: no-repeat;
}

.instagram-com::before {
  content: "";
  position: absolute;
  top: 9px;
  left: 12px;
  width: 21px;
  height: 21px;
  background-image: url("../img/icon-insta.svg");
  background-repeat: no-repeat;
}

.social-item a {
  margin: auto;
  padding: 21px;
}

.feedback {
  width: 147px;
}

.developed {
  width: 100px;
}

/*Catalog*/

.catalog-content {
  position: relative;
}

.catalog-content .container  {
  display: grid;
  grid-template-columns: 220px 1fr;
  align-content: start;
  font-family: "PT Sans", "Arial", sans-serif;
}

.item-in-basket {
  background-color: var(--basic-red);
}

.user-login {
  width: 300px;
  justify-self: end;
  margin: 0; 
}

.user-login-wrapper {
  margin-bottom: 5px;
  padding: 12px 16px;
  background-color: var(--basic-white);
}

.user svg {
  margin-right: 16px;
}

.user-logout svg {
  margin-left: 14px;
}

.user:hover path,
.user-logout:hover path {
  fill: var(--basic-grey);
}

.user-login-wrapper:active path {
  fill: var(--basic-greylight);
}

.user-login ul {
  align-self: center;
  margin: 0;
  padding: 0;
}

.main-nav-list li:nth-child(2) {
  padding-left: 3px;
  padding-right: 0;
}

.bread-crumbs-list {
  grid-column: 1 / -1;
  margin: 0;
  padding: 0;
  font-size: 13px;
  line-height: 18px;
  text-transform: uppercase;
  list-style: none;
}

.bread-crumbs-item:first-child a {
  padding-left: 0;
}

.bread-crumbs-item {
  position: relative;
}

.bread-crumbs-item::after {
  content: "";
  position: absolute;
  top: 4px;
  right: -7px;
  width: 8px;
  height: 12px;
  background-image: url("../img/icon-right-small.svg");
  background-repeat: no-repeat;
}

.bread-crumbs-item:last-child::after {
  display: none;
}

.bread-crumbs-item,
.sorting-item,
.increase-item {
  display: inline-block;
  vertical-align: center;
}

.catalog-heading,
.sorting-list,
.buy,
.to-bookmarks {
  text-transform: uppercase;
}

.bread-crumbs-list {
  margin-top: 21px;
}

.bread-crumbs-list a {
  padding-right: 20px;
  padding-left: 19px;
  color: var(--basic-black);
}

.disabled-link {
  pointer-events: none;
  cursor: default;
}

.filters {
  margin-top: 20px;
}

.filters h2 {
  margin: 0;
  padding: 0;
  padding-top: 10px;
  padding-right: 151px;
  padding-bottom: 10px;
  padding-left: 18px;
  font-family: "PT Sans", "Arial", sans-serif;
  font-weight: normal;
  font-size: 13px;
  line-height: 18px;
  color: var(--basic-black);
  text-transform: uppercase;
  background-color: var(--filter-background);
  border-radius: 2px;
}

.filter fieldset{
  margin: 0;
  padding: 0;
  border: none;
}

.filter fieldset:first-child {
  margin-bottom: 24px;
}

.filter fieldset:nth-child(3) {
  margin-bottom: 6px;
}

.filter legend {
  font-family: "PT Sans", "Arial", sans-serif;
  font-weight: bold;
  font-size: 17px;
  line-height: 30px;
  color: var(--basic-black);
  text-transform: uppercase;
}

.line-top {
  width: 220px;
  height: 1px;
  margin-bottom: 19px;
  background: rgba(0, 0, 0, 0.1);
}

.line-bottom {
  width: 220px;
  height: 1px;
  margin-top: 2px;
  margin-bottom: 16px;
  background: rgba(0, 0, 0, 0.1);
}

legend.power-legend {
  margin-bottom: 6px;
}

.filter ul {
  margin: 0;
  padding: 0;
  margin-top: 17px;
  list-style: none;
  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 15px;
  line-height: 19px;
  text-transform: uppercase;
  color: var(--basic-black);
}

.power-legend + ul {
  margin-top: 20px;
}

.filter-option {
  margin-bottom: 20px;
}

.filter-option label {
  position: relative;
  display: block;
  padding: 0 35px;
  cursor: pointer;
  user-select: none;
}

.filter-input-checkbox+label::before {
  content: "";
  position: absolute;
  top: -3px;
  left: 0;
  width: 23px;
  height: 23px;
  background-image: url("../img/checkbox-off.svg");
  background-repeat: no-repeat;
  opacity: 0.7;
}

.filter-input-checkbox:checked+label::before {
  content: "";
  position: absolute;
  top: -3px;
  left: 0;
  width: 27px;
  height: 23px;
  background-image: url("../img/checkbox-on.svg");
  background-repeat: no-repeat;
  opacity: 0.7;
}

.filter-input-radio+label::before {
  content: "";
  position: absolute;
  top: -3px;
  left: 0;
  width: 25px;
  height: 25px;
  background-image: url("../img/radio-off.svg");
  background-repeat: no-repeat;
  opacity: 0.7;
}
 
 
.filter-input-radio:checked+label::before {
  content: "";
  position: absolute;
  top: -3px;
  left: 0;
  width: 25px;
  height: 25px;
  background-image: url("../img/radio-on.svg");
  background-repeat: no-repeat;
  opacity: 0.7;
}

.filter-input-radio:hover + label::before,
.filter-input-checkbox:hover + label::before {
  opacity: 1;
}

.filter-input-radio:disabled + label::before,
.filter-input-checkbox:disabled + label::before {
  opacity: 0.3;
}

.filter-option input[type="checkbox"]:focus + label::before,
.filter-option input[type="radio"]:focus + label::before {
  opacity: 0.4;
}

fielset.line-top {
  border-top: 1px solid black;
}

.filter {
  width: 220px;
  display: flex;
  flex-direction: column;
  margin-top: 15px;
}

.filter-button {
  width: 220px;
  margin-top: 18px;
  padding-top: 9px;
  padding-right: 79px;
  padding-bottom: 10px;
  padding-left: 79px;
  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 13px;
  line-height: 18px;
  text-transform: uppercase;
  background-color: var(--basic-white);
  border: 1px solid #E5E5E5;
  cursor: pointer;
}

.range-filter {
  width: 220px;
  margin-top: 11px;
}

.range-controls,
.toggle {
  box-sizing: content-box;
}

.range-controls {
  position: relative;
  height: 41px;
  margin-bottom: 9px;
  padding-top: 39px;
  padding-right: 20px;
  padding-left: 20px;
  background-color: var(--filter-background);
  border-radius: 5px;
}

.range-controls .scale {
  height: 2px;
  background: var(--scale-background);
}

.range-controls .bar {
  width: 85%;
  height: 2px;
  background: var(--bar-color);
}

.range-controls .toggle {
  position: absolute;
  top: 31px;
  left: 0;
  width: 4px;
  height: 4px;
  padding: 0;
  border: 8px solid var(--basic-white);
  background-color: var(--toggle-background);
  border-radius: 50%;
  box-shadow: 0 2px 1px 0 #cfcfcf;
  cursor: pointer;
}

.range-controls .toggle-min {
  left: 18px;
}

.range-controls .toggle-max {
  left: 160px;
}

.price-controls {
  position: relative;
  display: flex;
  justify-content: space-between;
}

.price-controls::before {
  content: "";
  position: absolute;
  top: 19px;
  left: 106px;
  width: 10px;
  height: 1px;
  background-color: var(--basic-black);
}

.price-controls input {
  width: 95px;
  padding-top: 7px;
  padding-bottom: 10px;
  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 17px;
  line-height: 18px;
  text-align: center;
  text-transform: uppercase;
  color: var(--basic-black);
  border-radius: 5px;
  background-color: var(--filter-background);
  border: none;
}

span.hyphen {
  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 16px;
  line-height: 18px;
  text-transform: uppercase;
  color: var(--hyphen-color);
}

h2.product {
  grid-column: 1 / -1;
  margin: 0;
  padding: 0;
  margin-top: 21px;
  padding-top: 29px;
  padding-bottom: 30px;
  padding-left: 30px;
  font-family: "Cuprum", "Arial", sans-serif;
  font-size: 30px;
  line-height: 30px;
  font-weight: normal;
  text-transform: uppercase;
  color: var(--special-mediumgray);
  background-color: var(--product-background);
}

.catalog-list {
  margin-top: 20px;
  margin-left: 20px;
  font-family: "PT Sans",  "Arial", sans-serif;
  font-size: 13px;
  line-height: 18px;
}

.sorting-wrapper h2 {
  margin: 0;
  padding: 0;
}

.sorting-list {
  margin: 0;
  padding: 0;
  margin-left: 94px;
}

.sorting-wrapper {
  padding-top: 10px;
  padding-right: 15px;
  padding-bottom: 10px;
  padding-left: 20px;
  display: flex;
  justify-content: space-between;  
  background-color: var(--filter-background);
  border-radius: 2px;
}

.pages-item {
  display: inline-block;
  vertical-align: center;
}

.pages-item a:hover {
  border-color: var(--basic-greylight);
}

.pages-item a:active {
  border-color: var(--basic-red);
}

.catalog-list h2 {
  font-size: 13px;
  line-height: 18px;
  font-weight: normal;
  color: var(--basic-black);
}

.sorting-list,
.increase-list {
  list-style: none;
}

.increase-list {
  margin: 0;
  padding: 0;
}

.increase-item svg {
  width: 11px;
  height: 11px;
}

.increase-item path {
  fill: rgba(0, 0, 0, 0.3);
}

a.svg:hover path {
  fill: var(--basic-black);
}

a.svg:active path {
  fill: var(--basic-red);
}

a.active-sorting path {
  fill: var(--basic-red);
}

.increase-list li:first-child {
  margin-right: 18px;
}

.sorting-list li:first-child {
  margin-right: 67px;
}

.sorting-list li:last-child {
  margin-left: 65px;
}

.sorting-list a {
  position: relative;
  color: rgba(0, 0, 0, 0.3);
  text-decoration: underline;
  text-decoration-style: dashed;
  text-decoration-color: var(--basic-red);
}

.sorting-item a:hover {
  color: var(--basic-black);
  opacity: 1;
  text-decoration: underline;
  text-decoration-color: var(--basic-red);
}

a.active-sorting,
.sorting-item a:active {
  color: var(--basic-red);
  opacity: 1;
  text-decoration: none; 
}

.section-catalog {
  display: flex;
  flex-wrap: wrap;
  align-items: stretch;
  margin: 0;
  padding: 0;
  margin-top: 29px;
}

.uppercase-title {
  text-transform: uppercase;
}

.perforators-item {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  width: 220px;
  min-height: 318px;
  margin-right: 20px;
  margin-bottom: 18px;
  padding-top: 0;
  padding-right: 10px;
  padding-bottom: 20px;
  padding-left: 10px;
  font-weight: bold;
  font-size: 17px;
  line-height: 18px;
  box-sizing: border-box;
  border: 1px solid var(--graylight);
}

.perforators-item p {
  margin: 0;
  padding: 0;
  margin-top: auto;
}

.perforators-item img {
  height: 164px;
  margin-top: 2px;
  margin-right: 7px;
  margin-bottom: 11px;
  object-fit: contain;
}

.section-catalog .perforators-item:nth-child(3n) {
  margin-right: 0;
}

.new {
  position: relative;
}

.new::after {
  content: "new";
  position: absolute;
  top: 8px;
  right: -27px;
  width: 38px;
  height: 0;
  font-family: "Cuprum", "Arial", sans-serif;
  font-size: 14px;
  line-height: 30px;
  text-align: center;
  text-transform: uppercase;
  color: var(--basic-white);
  border-bottom: 30px solid var(--basic-red);
  border-right: 30px solid transparent;
  border-left: 30px solid transparent; 
  transform: rotate(45deg);
}

.order-wrapper {
  width: 195px;
  min-height: 95px;
  position: absolute;
  top: 38px;
  display: flex;
  flex-direction: column;
  background-color: var(--basic-white);
  box-sizing: border-box;
  visibility: hidden;
}

.perforators-item:hover .order-wrapper {
  visibility: visible;
}

.perforators-item:hover {
  box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.15);
}

.buy {
  width: 136px;
  margin-bottom: 10px;
  margin-left: 30px;
  position: relative;
  padding-top: 10px;
  padding-right: 40px;
  padding-bottom: 10px;
  padding-left: 53px;
  border-radius: 2px;
}

.buy::before {
  content: "";
  position: absolute;
  left: 30px;
  width: 15px;
  height: 15px;
  background-image: url("../img/icon-cart.svg");
  background-repeat: no-repeat;
  opacity: 0.5;
}

.to-bookmarks {
  width: 136px;
  margin-left: 30px;
  padding-top: 9px;
  padding-right: 25px;
  padding-bottom: 6px;
  padding-left: 31px;
  border: 3px solid #63A63E;
  box-sizing: border-box;
  border-radius: 2px;
}

.to-bookmarks:hover {
  color: var(--special-mediumgray);
  border: 3px solid #32425C;
  box-sizing: border-box;
  border-radius: 2px;
}

.to-bookmarks:active {
  opacity: 0.5;
}

.section-catalog .perforators-item:nth-child(3n) {
  margin-right: 0;
}

.perforators-item h3 {
  margin: 0;
  padding: 0;
  padding-left: 20px;
  padding-right: 17px;
  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 18px;
  line-height: 20px;
  text-align: center;
  color: var(--basic-black);
}

.old-price {
  text-decoration: line-through;
  color: var(--old-price-color);
  text-align: center;
}

.old-price-without {
  opacity: 0;
}

p.curent-price {
  width: 141px;
  height: 38px;
  margin-top: 13px;
  margin-left: 13px;
  padding-top: 10px;
  padding-right: 17px;
  padding-bottom: 10px;
  padding-left: 10px;
  color: var(--basic-white);
  background-image: url("../img/red-button.svg");
  background-position: 0 0;
  background-repeat: no-repeat;
  text-align: center;
  cursor: pointer;
}

.buy,
.to-bookmarks {
  font-family: "Cuprum", "Arial", sans-serif;
  font-weight: normal;
  font-size: 14px;
  line-height: 18px;
}

.buy {
  color: var(--basic-white);
  background-color: var(--basic-green);
  box-shadow: inset 0 -3px 0 #367315;
}


.buy:hover {
  background-color: var(--success);
}

.buy:active {
  background-color: var(--buy-active);
}

.to-bookmarks {
  color: var(--special-mediumgray);
}

.pages-list {
  margin: 0;
  padding: 0;
  margin-left: 2px;
  list-style: none;
}

.pages-list li {
  margin-top: 41px;
  margin-right: 6px;
}

.pages-list a {
  padding: 10px 15px;
  font-size: 13px;
  line-height: 18px;
  color: var(--basic-black);
  border: 1px solid #E5E5E5;
  border-radius: 2px;
  text-transform: uppercase;
}

.pages-list a.current-page{
  color: var(--basic-white);
  background-color: var(--basic-red);
  border: none;
}

a.next {
  padding-left: 31px;
  padding-right: 32px;
}

.description {
  margin-top: 67px;
  padding-bottom: 68px;
  background-color: var(--basic-background);
}

.description .container {
  grid-template-columns: 1fr;
}

.description h2 {
  margin: 0;
  padding: 0;
  margin-top: 64px;
  margin-bottom: 25px;
  font-family: "Cuprum", "Arial", sans-serif;
  font-weight: normal;
  font-size: 30px;
  line-height: 30px;
  text-transform: uppercase;
}

.description p {
  margin: 0;
  padding: 0;
  font-size: 13px;
  line-height: 25px;
}

/*pop-up*/

.popup-map {
  position: fixed;
  top: 50%;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
  width: 980px;
  height: 449px;
  z-index: 2;
  transform: translate(0, -50%);
}

.map-close-button {
  position: absolute;
  top: 10px;
  right: 25px;
  width: 21px;
  height: 21px;
  border: none;
  background-image: url("../img/icon-close.svg");
  background-repeat: no-repeat;
  background-color: transparent;
  cursor: pointer;
}

.popup-map img {
  box-shadow: none;
  border-top: 7px solid var(--basic-red);
}

.feedback-form {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
  width: 620px;
  height: 423px;
  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 18px;
  line-height: 24px;
  color: var(--basic-black);
  z-index: 3;
  background-color: var(--basic-white);
  box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.15);
  border-top: 7px solid var(--basic-red);
}

.feedback-form-section {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex-wrap: wrap;
}

.feedback-form-wrapper {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.feedback-form input {
  width: 176px;
  padding-top: 7px;
  padding-right: 8px;
  padding-bottom: 7px;
  padding-left: 12px;
  border: 2px solid var(--basic-greylight);
}

.feedback-form textarea {
  width: 440px;
  height: 114px;
  border: 2px solid var(--basic-greylight);
}

.feedback-form input::placeholder,
.feedback-form textarea::placeholder {
  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 13px;
  color: var(--old-price-color);
}

.input-wrapper {
  width: 200px;
  padding-top: 39px;
}

.feedback-form-wrapper {
  width: 440px;
  margin: 0 auto;
  padding: 0 10px;
}

.close-button {
  position: absolute;
  top: 10px;
  right: 10px;
  width: 21px;
  height: 21px;
  background-image: url(../img/icon-close.svg);
  background-repeat: no-repeat;
  background-color: transparent;
  border: none;
  z-index: 4;
  cursor: pointer;
}

.button-wrapper {
  margin-top: 72px;
  padding: 37px 80px;
  background-color: var(--feedbackform-background);
}

.button-wrapper button {
  font-family: "Cuprum", "Arial", sans-serif;
  font-size: 14px;
  color: var(--basic-white);
  text-transform: uppercase;
  padding-top: 11px;
  padding-right: 200px;
  padding-bottom: 9px;
  padding-left: 198px;
  background-color: var(--basic-red);
  border: none;
}

/*Catalog pop-up*/

.order-basket {
  position: fixed;
  top: 50%;
  right: 0;
  bottom: auto;
  left: 0;
  margin: auto;
  display: flex;
  flex-direction: column;
  width: 620px;
  background-color: var(--basic-white);
  border-top: 7px solid var(--basic-red);
  z-index: 5;
  transform: translate(0, -50%);
}

.order-basket p {
  position: relative;
  padding-top: 73px;
  padding-bottom: 67px;
  font-family: "Cuprum", "Arial", sans-serif;
  font-weight: bold;
  font-size: 24px;
  line-height: 30px;
  color: var(--basic-black);
  text-align: center;
}

.order-basket p::before {
  content: "";
  position: absolute;
  top: 55px;
  left: 81px;
  width: 66px;
  height: 66px;
  background-image: url("../img/icon-mark.svg");
  background-repeat: no-repeat;
}

.order-basket-link {
  padding-top: 37px;
  padding-right: 112px;
  padding-bottom: 37px;
  padding-left: 108px;
  background-color: var(--basket-link-background);
}

.order-basket-link a,
.continue-shopping {
  font-family: "Cuprum", "Arial", sans-serif;
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;
}

.order-basket-link a:first-child {
  margin-right: 10px;
  padding-top: 11px;
  padding-right: 46px;
  padding-bottom: 9px;
  padding-left: 47px;
  color: var(--basic-white);
  background-color: var(--basic-red);
}

.order-basket-link .continue-shopping {
  padding-top: 11px;
  padding-right: 31px;
  padding-bottom: 9px;
  padding-left: 32px;
  color: var(--basic-black);
  background-color: var(--basic-white);
  border: none;
}

.popup-map,
.feedback-form,
.order-basket {
  display: none;
}

.form-display-block {
  display: block;
  animation-name: open-form;
  animation-duration: 0.6s;
}

.display-block {
  display: block;
}

/*отпускаем форму*/
@keyframes open-form {
  0% {
    transform: translateY(2000px);
  }
  70% {
    transform: translateY(30px);
  }
  90% {
    transform: translateY(-10px);
  }
  100% {
    transform: translateY(0px);
  }
}

@keyframes shake-form {
  0%, 100% { transform: translateY(0); }
  10%, 30%, 50%, 70%, 90% { transform: translateY(-10px); }
  20%, 40%, 60%, 80% { transform: translateY(10px); }
}

.shake-form {
  animation-name: shake-form;
  animation-duration: 0.6s;
}